//SCSS

@import url('https://fonts.googleapis.com/css?family=Cuprum|Lobster|Merienda|Monoton|Neuton|Permanent+Marker&display=swap');
// @import "mixins";


//MIXINS
@mixin coverImg() {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@mixin transition() {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

@mixin UnTransition() {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
}

@mixin middleTextPos() {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

//MIXINS END


//HEADER
header {
    margin: 0;
    padding: 0;
    background-image: url("../img/cupcakes-690040_1920.png");
    @include coverImg();
    height: 700px;

//NAVIGATION
    nav {
        width: 100%;
        margin: 0;
        padding: 0;
        border-bottom: 3px solid rgba(130, 90, 44, 0.3);
        font-size: 20px;

        .navbar-brand {
            img {
                width: 40%;
            }
        }

        .navbar-toggler {
            border: 1px solid rgb(130, 90, 44);
			&:focus {
				outline: none;
			}
            .navbar-toggler-icon {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(130,90,44, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

            }

        }

        .collapse {
            width: 100%;
            ul {
            	li:not(:last-child) {
					margin-right: 120px;
            		}
            		li{

            		a {
            			font-size: 1.3em;
            			color: rgb(42, 28, 14);
            			text-shadow: 2px 2px 3px white;
            			font-style: italic;
            			font-weight: 550;
            			letter-spacing: 1px;
	                    @include transition();

            			&:hover {
		                    @include transition();
                    		color: rgb(249, 244, 238);
            				text-shadow: 2px 2px 3px rgb(42, 28, 14);
            			}

            		}
            	}
            }
        }
    }
//NAVIGATION EnD


//HEADER CENTER IMAGE
    .logo1 {
        width: 100%;
        margin: 0 auto;
        @include middleTextPos();
    	padding-top: 100px;


        img {
            width: 25%;
            margin: 0 auto;
        }
    }
}
//HEADER CENTER IMAGE


//HEADER END


//SECTION 1
.section1 {
    .sec1 {
        margin: 0;
        padding: 0;

        div {
            height: 400px;
            text-align: center;


            //BOXES HOVER EFFECT
            &:hover {
                .fluid {
                    width: 85%;
                    margin: 0 auto;
                    background-color: rgba(120, 80, 39, 0.4);
                    @include transition();



                    p {
                        color: white;
                        text-shadow: 2px 2px 2px black;
                        transition: all 0.5s ease;
                        font-size: 30px;
                        @include transition();
                        visibility: visible;
                        opacity: 1;

                    }

                    h3 {
                        a {
                            font-weight: 800;
                            font-size: 50px;
                            color: white;
                            @include transition();


                        }
                    }
                }
            }

            //BOXES HOVER EFFECT END

            h3 {
                @include middleTextPos();
                font-family: 'Cuprum', sans-serif;
                //	font-family: 'Merienda', cursive; 
                font-weight: 500;


                a {
                    color: rgb(249, 244, 238);
                    text-shadow: 3px 3px 2px rgb(42, 28, 14);
                    margin: 0 auto;
                    text-decoration: none;
                    font-size: 40px;
                    font-weight: bold;
                    text-transform: uppercase;
                    letter-spacing: 2px;

	                    @include transition();



                }
            }

            p {
                @include middleTextPos();
                font-family: 'Neuton', serif;
                color: #fff;
                width: 95%;
                margin: 0 auto;
                visibility: hidden;
                opacity: 0;
                transition: visibility 0s, opacity 0.5s ease-in-out;
                font-style: italic;
                margin-top: -15px;
                                	                    @include transition();



            }
        }

        .p1 {
            background: url("../img/appetizer-2802_640.jpg");
            @include coverImg();

        }

        .p2 {
            background: url("../img/fruit-2367029_640.jpg");
            @include coverImg();

        }

        .p3 {
            background: url("../img/salmon-1238667_640.jpg");
            @include coverImg();
        }

        .p4 {
            background: url("../img/food-3309418_640.jpg");
            @include coverImg();

        }

        .p5 {
            background: url("../img/shish-kebab-417994_640.jpg");
            @include coverImg();

        }

        .p6 {
            background: url("../img/abstract-1239434_640.jpg");
            @include coverImg();

        }

        .p7 {
            background: url("../img/cupcake-3395264_640.jpg");
            @include coverImg();
        }

        .p8 {
            background: url("../img/bread-2864665_640.jpg");
            @include coverImg();

        }

        .p9 {
            background: url("../img/sweet-3307396_640.jpg");
            @include coverImg();

        }

        .p10 {
            background: url("../img/table-3220967_640.jpg");
            @include coverImg();
        }

        .p11 {
            background: url("../img/soup-3262462_640.jpg");
            @include coverImg();

        }

        .p12 {
            background: url("../img/burger-3391576_640.jpg");
            @include coverImg();

        }
    }
}

//FOOTER

//SECTION - footer
.footer {
    height: 100%;
    background-image: url("../img/desktop-3147855_1920.jpg");
    @include coverImg();
    border-top: 1px solid rgba(#000, 0.7);
    border-bottom: 1px solid rgba(#000, 0.7);
    box-shadow:
        inset 0px 11px 8px -10px #000,
        inset 0px -11px 8px -10px #000;


    h5 {
        font-family: 'Cuprum', sans-serif;
        font-size: 40px;
        padding-top: 50px;
        padding-bottom: 30px;
        color: rgb(249, 244, 238);
        text-shadow: 4px 4px 3px rgb(42, 28, 14);


        font-weight: bold;
        margin: 0 auto;
        width: 95%;


    }

    p {
        font-family: 'Neuton', serif;
        width: 85%;
        margin: 0 auto;
        color: beige;
        text-shadow: 2px 2px 2px black;
        background-color: rgba(black, 0.5);
        border-radius: 10px;
        padding: 20px;
        font-size: 1.5rem;
        font-style: italic;

    }

    #social {
        padding-top: 30px;
        padding-bottom: 50px;

        a {
            img {
                width: 55px;
                padding-left: 7px;
            }
        }
    }
}

//SECTION  - banner
.banner {
    p {
        margin: 0 auto;
        letter-spacing: 2px;


    }
}



//MEDIA QUERIES

@media screen and (max-width: 575px) {

    //SECTION 1
    .section1 {
        .sec1 {
            div {
                .fluid {
                    p {

                        margin-top: -15px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {


    //HEADER
    header {
        .logo1 {
            width: 100%;


            img {
                width: 65%;
            }
        }
    }

    //SECTION 1
    .section1 {
        .sec1 {
            div {

                //BOXES HOVER EFFECT
                &:hover {
                    .fluid {
                        background-color: transparent;

                        p {
                            font-size: 30px;
                            visibility: visible;
                            opacity: 1;
                            transition: none;

                        }

                        h3 {
                            a {
                                font-weight: bold;
                                font-size: 40px;
                                color: rgb(249, 244, 238);
                                transition: none;


                            }
                        }
                    }
                }

                //BOXES HOVER EFFECT end
                h3 {
                    @include middleTextPos();
                    font-family: 'Cuprum', sans-serif;
                    //	font-family: 'Merienda', cursive; 
                    font-weight: 500;
                }

                p {
                    font-size: 30px;
                    text-shadow: 2px 2px 2px black;
                    visibility: visible;
                    opacity: 1;
                    transition: none;
                }
            }
        }
    }
}

@media screen and (max-width: 1199px) {
	header {
//NAVIGATION
    nav {
        .collapse {


        	// Z A S T O     N E C E   O D M A H    D A  S E   P R O M E N I  B O J A     S L O V A   K A D   S E   K L I K N E
            ul {
            		li{

            		a {
            			font-size: 1.3em;
            			color: green;
            			text-shadow: 2px 2px 3px white;
            			font-style: italic;
            			font-weight: 550;
	                   @include UnTransition();

            			&:hover {
		                    	                   @include UnTransition();

            				color: rgb(42, 28, 14);
            				text-shadow: 2px 2px 3px white;
            	li:not(:last-child) {
					margin-right: 0px;
            		}
            			}

            		}
            	}
            }
        }
    }

}
//NAVIGATION EnD


}


@media screen and (max-width: 1450px) {
	header {
	nav {
		.collapse {
			ul {
				li:not(:last-child) {
					margin-right: 50px;
            		}
				li {
					a {
						letter-spacing: 0px;
            			font-size: 1.3em;


					}
				}
			}
		}
	}
}
}
